<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.sarno.CutX</string>
    <key>CFBundleName</key>
    <string>CutX</string>
    <key>CFBundleDisplayName</key>
    <string>CutX</string>
    <key>CFBundleExecutable</key>
    <string>CutX</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 sarno. All rights reserved.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>CutX requires access to Finder to read selected file paths and move items on Cut &amp; Paste.</string>
</dict>
</plist>
